<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="orderNumber">Order Number</label>
            <input type="text" name="orderNumber" @bind="@order.OrderNumber" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label for="customer">Customer</label>
            <input type="text" name="customer" @bind="@order.CustomerName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="paymentmethod">Payment Method</label>
            <select name="paymentmethod" @bind="@order.PaymentMethod" class="form-control">
                <option value=""></option>
                <option value="CASH">Cash</option>
                <option value="NIP">NIP</option>
                <option value="ETF">ETF</option>
                <option value="DirectDebit">Direct Debit</option>
            </select>
        </div>
        <div class="form-group">
            <label for="total">Total</label>
            <input type="text" name="total" value="@OrderTotal" class="form-control" disabled="disabled" />
        </div>
    </form>
</div>
@code {
    [Parameter] public Order order { get; set; }
    [Parameter] public decimal OrderTotal { get; set; }
}
